@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142.8 100% 99%;
    --foreground: 142.8 5% 10%;
    --card: 142.8 50% 99%;
    --card-foreground: 142.8 5% 15%;
    --popover: 142.8 100% 99%;
    --popover-foreground: 142.8 100% 10%;
    --primary: 142.8 64.2% 24.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142.8 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 104.80000000000001 30% 95%;
    --muted-foreground: 142.8 5% 40%;
    --accent: 104.80000000000001 30% 90%;
    --accent-foreground: 142.8 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 142.8 5% 99%;
    --border: 142.8 30% 82%;
    --input: 142.8 30% 50%;
    --ring: 142.8 64.2% 24.1%;
    --radius: 1rem;
  }
  .dark {
    --background: 142.8 50% 10%;
    --foreground: 142.8 5% 99%;
    --card: 142.8 50% 10%;
    --card-foreground: 142.8 5% 99%;
    --popover: 142.8 50% 5%;
    --popover-foreground: 142.8 5% 99%;
    --primary: 142.8 64.2% 24.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142.8 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104.80000000000001 30% 25%;
    --muted-foreground: 142.8 5% 65%;
    --accent: 104.80000000000001 30% 25%;
    --accent-foreground: 142.8 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 142.8 5% 99%;
    --border: 142.8 30% 50%;
    --input: 142.8 30% 50%;
    --ring: 142.8 64.2% 24.1%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
